### 4. 이상 데이터 정제하기

In [1]:
# 데이터프레임명[‘컬럼명‘] = np.where( 조건식, yes값, no값)

In [2]:
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 

engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM CUSTOMERDATA', engine) 

print(customerData.head(2))

customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

   custid     avgprice  emi  devicecount  productage          custtype
0  E11917  3516.500000    2          5.5    2.087540  Big-Screen-lover
1  E16075  3418.048887    2          4.2    2.771469      Sleeping-dog

In [3]:
# numpy 라이브러리 
import numpy as np

#컬럼 추가 생성 및 조건에 따른 컬럼명 변경
customerData["PRODUCTAGE_NEW"] = np.\
where(customerData["PRODUCTAGE"] < 1, 1, customerData["PRODUCTAGE"])

In [4]:
customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000

### productage가 1보다작으면 1 2보다작으면2 3보다작으면3 이외는 5라고 새로운 컬럼 product_age_new를 생성하세요

In [5]:
customerData.columns = [x.upper() for x in customerData.columns] ## 모든 컬럼이름을 영어로

In [6]:
customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000

In [7]:
import numpy as np
# 1,2,3
# step = [1,2,3]
step = list(range(1,4))
maxValue = 5

customerData["PRODUCTAGE_NEW"] = np.where(customerData["PRODUCTAGE"] < step[0], step[0],\
                                          np.where(customerData["PRODUCTAGE"] < step[1], step[1],\
                                          np.where(customerData["PRODUCTAGE"] < step[2], step[2],\
                                          maxValue)))
customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1

### 4. 이상 데이터 정제하기 #2

In [8]:
def refining(df):
    if df['PRODUCTAGE'] < 1:
        return 1
    elif df['PRODUCTAGE'] < 2:
        return 2
    elif df['PRODUCTAGE'] < 3:
        return 3
    else :
        return 5

customerData["PRODUCTAGE_NEW2"] =customerData.apply(refining, axis=1)

In [9]:
customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,3
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,3
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1

### 5. 데이터 정렬하기

In [10]:
# 데이터프레임명.sort_values([‘컬럼1’,’컬럼2’,..], ascending=[True, False])
# 컬럼1 에는 오름차순 / 컬럼2 에는 내림차순 
# ascending True 는 오름차순 False 는 내림차순

In [11]:
len(customerData)

150

In [12]:
# 변수에 담아주지 않은 경우
customerData.sort_values(["CUSTID","AVGPRICE"], ascending=[True,False])
customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,3
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,3
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1

In [13]:
# 변수에 담아줘야 한다.
test = customerData.sort_values(["EMI","AVGPRICE"], ascending=[True,True])
test.head(20)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2
49,N14862,2390.083736,1,6.3,1.000000,Early-bird,2,2
28,I17056,2963.370122,1,3.3,2.139196,Sleeping-dog,3,3
121,Y12458,2976.211190,1,3.5,2.199677,Sleeping-dog,3,3
54,O13586,2980.229239,1,3.3,2.038603,Sleeping-dog,3,3
67,Q16449,3048.308860,1,3.8,2.369758,Sleeping-dog,3,3
38,K13300,3159.839204,1,3.7,1.960833,Sleeping-dog,2,2
142,C18622,3246.000000,1,5.0,1.891624,Big-Screen-lover,2,2
46,M16452,3353.537290,1,4.0,1.940357,Sleeping-dog,2,2
27,I14835,3374.091339,1,4.0,2.749678,Sleeping-dog,3,3
53,O13037,3398.216334,1,4.5,2.994395,Sleeping-dog,3,3
37,K10712,3419.462596,1,4.4,2.825790,Sleeping-dog,3,3
112,W13995,2411.008838,2,6.4,1.000000,Early-bird,2,2
106,V16704,2605.631083,2,6.6,0.900000,Early-bird,1,1
39,K16632,2650.900000,2,4.5,2.233033,Big-Screen-lover,3,3
11,G11453,2744.815881,2,6.4,0.900000,Early-bird,1,1
86,S15966,2797.678314,2,6.9,0.900000,Early-bird,1,1
29,I17780,2804.267157,2,6.3,0.900000,Early-bird,1,1
89,S17893,2857.684730,2,3.9,2.679795,Sleeping-dog,3,3
75,R15454,2868.195533,2,6.4,1.000000,Early-bird,2,2
18,G19717,2873.102202,2,6.5,0.800000,Early-bird,1,1

### 6.데이터 요약분석하기

In [14]:
# 데이터프레임명.groupby([‘컬럼명’]).집계함수

In [15]:
# 평균 구하기
meanValue = customerData.\
groupby(['CUSTTYPE','EMI'], as_index=True).\
mean()
print(meanValue)

                         AVGPRICE  DEVICECOUNT  PRODUCTAGE  PRODUCTAGE_NEW  \
CUSTTYPE         EMI
Big-Screen-lover 1    3246.000000     5.000000    1.891624        2.000000
                 2    3535.317391     5.508696    2.223247        2.804348
                 3    4111.600000     6.400000    1.838520        2.333333
Early-bird       1    2390.083736     6.300000    1.000000        2.000000
                 2    3232.445885     6.460606    0.936364        1.242424
                 3    3455.966035     6.475000    0.962500        1.437500
Sleeping-dog     1    3185.918464     3.833333    2.357587        2.777778
                 2    3504.298670     4.353659    2.724274        3.463415

                      PRODUCTAGE_NEW2
CUSTTYPE         EMI
Big-Screen-lover 1           2.000000
                 2           2.804348
                 3           2.333333
Early-bird       1           2.000000
                 2           1.242424
                 3           1.437500
Sleeping-dog     1           2.777778
                 2           3.463415

In [16]:
customerData["PRODUCTAGE"][1]

2.77146943110041

In [17]:
order = 5

In [18]:
suborder = 4

In [19]:
import math
suborder = math.floor(5/2)
suborder

2

### ROLLING 함수

In [20]:
# center 가 False 일 경우
# 소수점이 없는 경우 소수점인걸 만들어 줘야한다.
customerData["TEST"] = customerData["PRODUCTAGE"].rolling(window = 5, center = False).mean()

In [21]:
customerData.head(10)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,3,NaN
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,3,NaN
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2,NaN
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2,NaN
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1,1.853744
5,F10222,3191.065822,2,6.5,0.900000,Early-bird,1,1,1.616236
6,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,3,3,1.487615
7,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,2,2,1.435057
8,F17131,3179.708359,3,6.5,1.100000,Early-bird,2,2,1.350851
9,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,5,5,1.825490

In [22]:
# center 가 True 일 경우
customerData["TEST"] = customerData["PRODUCTAGE"].rolling(window = 5, center = True).mean()

In [23]:
customerData.head(10)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,3,NaN
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,3,NaN
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2,1.853744
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2,1.616236
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1,1.487615
5,F10222,3191.065822,2,6.5,0.900000,Early-bird,1,1,1.435057
6,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,3,3,1.350851
7,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,2,2,1.825490
8,F17131,3179.708359,3,6.5,1.100000,Early-bird,2,2,2.047751
9,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,5,5,1.802078

### null 값일경우 넣어줄때

In [24]:
list = []
for i in range(0,suborder):
    list.append(customerData["PRODUCTAGE"][0:i+suborder].mean())
list

[2.42950459765736, 2.2825638908675567]

In [25]:
for i in range(0,suborder):
    customerData["TEST"][i] = list[i]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [26]:
customerData.head(10)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,3,2.429505
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,3,2.282564
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2,1.853744
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2,1.616236
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1,1.487615
5,F10222,3191.065822,2,6.5,0.900000,Early-bird,1,1,1.435057
6,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,3,3,1.350851
7,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,2,2,1.825490
8,F17131,3179.708359,3,6.5,1.100000,Early-bird,2,2,2.047751
9,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,5,5,1.802078

In [27]:
list2 = [1,2]

In [28]:
for i in range(0,suborder):
    customerData[i,"TEST"] = list2[i]

In [29]:
customerData.head(10)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2,TEST,"(0, TEST)","(1, TEST)"
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,3,2.429505,1,2
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,3,2.282564,1,2
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2,1.853744,1,2
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2,1.616236,1,2
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1,1.487615,1,2
5,F10222,3191.065822,2,6.5,0.900000,Early-bird,1,1,1.435057,1,2
6,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,3,3,1.350851,1,2
7,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,2,2,1.825490,1,2
8,F17131,3179.708359,3,6.5,1.100000,Early-bird,2,2,2.047751,1,2
9,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,5,5,1.802078,1,2