### kopo_product_volume 테이블을 불러온 후 다음 과정을 진행 하세요. 모든 주차에 이동평균을 window 5로 설정하여 구한 후 (빈 셀은 존재하는 날개에 대해서만) RATIO 컬럼을 추가하여 VOLUME/이동평균 값으로 넣으세요

### 데이터 불러오기

In [30]:
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 

engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

selloutData = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', engine) 

print(selloutData.head(2))

  regionid productgroup yearweek    volume
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0

### 컬럼명 대문자 변환

In [31]:
selloutData.columns = [x.upper() for x in selloutData.columns]
selloutData.head(2)

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0

### 정렬하기 (REGIONID -> PRODUCTGROUP -> YEARWEEK)

In [32]:
sortedDataPre = selloutData.sort_values(["REGIONID","PRODUCTGROUP","YEARWEEK"])
sortedDataPre.head(5)

   REGIONID PRODUCTGROUP YEARWEEK    VOLUME
36      A01       ST0001   201501  513598.0
24      A01       ST0001   201502  438251.0
30      A01       ST0001   201503  420290.0
38      A01       ST0001   201504  458431.0
26      A01       ST0001   201505  482381.0

### index 값 초기화

In [33]:
sortedData = sortedDataPre.reset_index(drop=True) # 쉬프트 + 탭 버튼 눌러서 예제코드를 확인할수 있다.
sortedData

    REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0        A01       ST0001   201501  513598.0
1        A01       ST0001   201502  438251.0
2        A01       ST0001   201503  420290.0
3        A01       ST0001   201504  458431.0
4        A01       ST0001   201505  482381.0
5        A01       ST0001   201506  570412.0
6        A01       ST0001   201507  620392.0
7        A01       ST0001   201508  571781.0
8        A01       ST0001   201509  569545.0
9        A01       ST0001   201510  511679.0
10       A01       ST0001   201511  524787.0
11       A01       ST0001   201512  486509.0
12       A01       ST0001   201513  470040.0
13       A01       ST0001   201514  428195.0
14       A01       ST0001   201515  810144.0
15       A01       ST0001   201516  764927.0
16       A01       ST0001   201517  697502.0
17       A01       ST0001   201518  671464.0
18       A01       ST0001   201519  682757.0
19       A01       ST0001   201520  645626.0
20       A01       ST0001   201521  620290.0
21       A01       ST0001   201522  603104.0
22       A01       ST0001   201523  610479.0
23       A01       ST0001   201524  589613.0
24       A01       ST0001   201525  618699.0
25       A01       ST0001   201526  586721.0
26       A01       ST0001   201527  599043.0
27       A01       ST0001   201528  587529.0
28       A01       ST0001   201529  620882.0
29       A01       ST0001   201530  643984.0
..       ...          ...      ...       ...
129      A01       ST0002   201550  294579.0
130      A01       ST0002   201551  356271.0
131      A01       ST0002   201552  422468.0
132      A01       ST0002   201553  232523.0
133      A01       ST0002   201601  162801.0
134      A01       ST0002   201602  137186.0
135      A01       ST0002   201603  152763.0
136      A01       ST0002   201604  197057.0
137      A01       ST0002   201605  231214.0
138      A01       ST0002   201606  172230.0
139      A01       ST0002   201607  161324.0
140      A01       ST0002   201608  130000.0
141      A01       ST0002   201609  154149.0
142      A01       ST0002   201610  142575.0
143      A01       ST0002   201611  150915.0
144      A01       ST0002   201612  132780.0
145      A01       ST0002   201613  135788.0
146      A01       ST0002   201614  148835.0
147      A01       ST0002   201615  143180.0
148      A01       ST0002   201616  137927.0
149      A01       ST0002   201617  142279.0
150      A01       ST0002   201618  162560.0
151      A01       ST0002   201619  152980.0
152      A01       ST0002   201620  160913.0
153      A01       ST0002   201621  205984.0
154      A01       ST0002   201622  214929.0
155      A01       ST0002   201623  161983.0
156      A01       ST0002   201624  171592.0
157      A01       ST0002   201625  157283.0
158      A01       ST0002   201626  196489.0

[159 rows x 4 columns]

### 롤링

In [34]:
sortedData["MA"] = sortedData["VOLUME"].rolling(window = 5, center = True).mean()

### 이동평균 연산하기

In [35]:
import math
# 이동평균 구간 크기
order = 5
# 앞뒤로 비어있게될 구간 크기
suborder = math.floor(order/2)

### 이동평균 빈셀 채우기

In [36]:
maxLength = len(sortedData)
maxLength

159

In [37]:
i=0

In [9]:
sortedData.loc[(maxLength-1)-(suborder+i):maxLength, "VOLUME"]

156    171592.0
157    157283.0
158    196489.0
Name: VOLUME, dtype: float64

In [10]:
sortedData["VOLUME"][(maxLength-1)-(suborder+i):maxLength]

156    171592.0
157    157283.0
158    196489.0
Name: VOLUME, dtype: float64

In [11]:
sortedData["VOLUME"][-(2+suborder+i):maxLength]

155    161983.0
156    171592.0
157    157283.0
158    196489.0
Name: VOLUME, dtype: float64

In [12]:
sortedData["VOLUME"][-(1+suborder+i):maxLength]

156    171592.0
157    157283.0
158    196489.0
Name: VOLUME, dtype: float64

In [13]:
sortedData["VOLUME"][(maxLength-1)-(suborder+i):maxLength]

156    171592.0
157    157283.0
158    196489.0
Name: VOLUME, dtype: float64

In [14]:
postList = []
maxLength = len(sortedData)
for i in range(0,suborder):
    postList.append(sortedData["VOLUME"][(maxLength-1)-(suborder+i):maxLength].mean())
    sortedData.loc[maxLength-(i+1),"MA"] = postList[i]
postList

[175121.33333333334, 171836.75]

In [15]:
postList = []
maxLength = len(sortedData)
for i in range(0,suborder):
    postList.append(sortedData["VOLUME"][-(i+suborder+1):maxLength].mean())
    sortedData.loc[maxLength-(i+1),"MA"] = postList[i]
postList

[175121.33333333334, 171836.75]

In [16]:
postList = []
maxLength = len(sortedData)
for i in range(0,suborder):
    postList.append(sortedData["VOLUME"][-(i+suborder+1):maxLength].mean())
    sortedData["MA"][maxLength-i-1] = postList[i]
postList

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

[175121.33333333334, 171836.75]

In [17]:
postList = []
for i in range(0,suborder):
    postList.append(sortedData["VOLUME"][0:suborder+i+1].mean())
    sortedData.loc[i,"MA"] = postList[i]
postList

[457379.6666666667, 457642.5]

In [18]:
sortedData.head()

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME             MA
0      A01       ST0001   201501  513598.0  457379.666667
1      A01       ST0001   201502  438251.0  457642.500000
2      A01       ST0001   201503  420290.0  462590.200000
3      A01       ST0001   201504  458431.0  473953.000000
4      A01       ST0001   201505  482381.0  510381.200000

### 비율 계산하기

In [19]:
sortedData["RATIO"] = sortedData["VOLUME"]/sortedData["MA"]

In [20]:
sortedData

    REGIONID PRODUCTGROUP YEARWEEK    VOLUME             MA     RATIO
0        A01       ST0001   201501  513598.0  457379.666667  1.122914
1        A01       ST0001   201502  438251.0  457642.500000  0.957627
2        A01       ST0001   201503  420290.0  462590.200000  0.908558
3        A01       ST0001   201504  458431.0  473953.000000  0.967250
4        A01       ST0001   201505  482381.0  510381.200000  0.945139
5        A01       ST0001   201506  570412.0  540679.400000  1.054991
6        A01       ST0001   201507  620392.0  562902.200000  1.102131
7        A01       ST0001   201508  571781.0  568761.800000  1.005308
8        A01       ST0001   201509  569545.0  559636.800000  1.017705
9        A01       ST0001   201510  511679.0  532860.200000  0.960250
10       A01       ST0001   201511  524787.0  512512.000000  1.023951
11       A01       ST0001   201512  486509.0  484242.000000  1.004682
12       A01       ST0001   201513  470040.0  543935.000000  0.864147
13       A01       ST0001   201514  428195.0  591963.000000  0.723348
14       A01       ST0001   201515  810144.0  634161.600000  1.277504
15       A01       ST0001   201516  764927.0  674446.400000  1.134155
16       A01       ST0001   201517  697502.0  725358.800000  0.961596
17       A01       ST0001   201518  671464.0  692455.200000  0.969686
18       A01       ST0001   201519  682757.0  663527.800000  1.028980
19       A01       ST0001   201520  645626.0  644648.200000  1.001517
20       A01       ST0001   201521  620290.0  632451.200000  0.980771
21       A01       ST0001   201522  603104.0  613822.400000  0.982538
22       A01       ST0001   201523  610479.0  608437.000000  1.003356
23       A01       ST0001   201524  589613.0  601723.200000  0.979874
24       A01       ST0001   201525  618699.0  600911.000000  1.029602
25       A01       ST0001   201526  586721.0  596321.000000  0.983901
26       A01       ST0001   201527  599043.0  602574.800000  0.994139
27       A01       ST0001   201528  587529.0  607631.800000  0.966916
28       A01       ST0001   201529  620882.0  624515.200000  0.994182
29       A01       ST0001   201530  643984.0  640208.400000  1.005897
..       ...          ...      ...       ...            ...       ...
129      A01       ST0002   201550  294579.0  628673.600000  0.468572
130      A01       ST0002   201551  356271.0  395110.400000  0.901700
131      A01       ST0002   201552  422468.0  293728.400000  1.438295
132      A01       ST0002   201553  232523.0  262249.800000  0.886647
133      A01       ST0002   201601  162801.0  221548.200000  0.734833
134      A01       ST0002   201602  137186.0  176466.000000  0.777408
135      A01       ST0002   201603  152763.0  176204.200000  0.866966
136      A01       ST0002   201604  197057.0  178090.000000  1.106502
137      A01       ST0002   201605  231214.0  182917.600000  1.264034
138      A01       ST0002   201606  172230.0  178365.000000  0.965604
139      A01       ST0002   201607  161324.0  169783.400000  0.950175
140      A01       ST0002   201608  130000.0  152055.600000  0.854950
141      A01       ST0002   201609  154149.0  147792.600000  1.043009
142      A01       ST0002   201610  142575.0  142083.800000  1.003457
143      A01       ST0002   201611  150915.0  143241.400000  1.053571
144      A01       ST0002   201612  132780.0  142178.600000  0.933896
145      A01       ST0002   201613  135788.0  142299.600000  0.954240
146      A01       ST0002   201614  148835.0  139702.000000  1.065375
147      A01       ST0002   201615  143180.0  141601.800000  1.011145
148      A01       ST0002   201616  137927.0  146956.200000  0.938559
149      A01       ST0002   201617  142279.0  147785.200000  0.962742
150      A01       ST0002   201618  162560.0  151331.800000  1.074196
151      A01       ST0002   201619  152980.0  164943.200000  0.927471
152      A01       ST0002   201620  160913.0  179473.200000  0.896585
153      A01       ST0002   201621  205984.0  179357.800000  1.148453
154      A01       ST0002   201622  214929.0  183080.200000  1.173961
155      A01       ST0002   201623  161983.0  182354.200000  0.888288
156      A01       ST0002   201624  171592.0  180455.200000  0.950884
157      A01       ST0002   201625  157283.0  171836.750000  0.915305
158      A01       ST0002   201626  196489.0  175121.333333  1.122016

[159 rows x 6 columns]

### 7.1 데이터 컬럼 명/값 변경하기

In [21]:
# 컬럼 명 전체 바꾸기:  데이터프레임명.colums = [‘컬럼명1’,’컬럼명2’,’컬럼명3’,..]
# 부분 컬럼 명 바꾸기:  데이터프레임명.rename(columns={“변경 전 컬럼명”:”변경 후 컬럼명“})

In [22]:
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 

engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM CUSTOMERDATA', engine) 

print(customerData.head(2))

customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

customerData["TEST"] = customerData["PRODUCTAGE"].rolling(window = 5, center = True).mean()

list = []
for i in range(0,suborder):
    list.append(customerData["PRODUCTAGE"][0:i+suborder].mean())
list

for i in range(0,suborder):
    customerData["TEST"][i] = list[i]
    
customerData.head(10)

   custid     avgprice  emi  devicecount  productage          custtype
0  E11917  3516.500000    2          5.5    2.087540  Big-Screen-lover
1  E16075  3418.048887    2          4.2    2.771469      Sleeping-dog

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.429505
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.282564
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.853744
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.616236
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.487615
5,F10222,3191.065822,2,6.5,0.900000,Early-bird,1.435057
6,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,1.350851
7,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,1.825490
8,F17131,3179.708359,3,6.5,1.100000,Early-bird,2.047751
9,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,1.802078

In [23]:
# 변경전 컬럼
customerData.columns
print(customerData.columns)

#컬럼명 전체 변경
customerData.columns = \
["CUSTID","AVGPRICE","EMI", \
 "DEVICECOUNT", "PRODUCTAGE", "CUSTTYPE", "TEST"]

Index(['CUSTID', 'AVGPRICE', 'EMI', 'DEVICECOUNT', 'PRODUCTAGE', 'CUSTTYPE',
       'TEST'],
      dtype='object')

In [24]:
# 컬럼명 부분 변경
test = customerData.rename(columns={"TEST": "RENAME_COLUMN"})
test.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,RENAME_COLUMN
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.429505
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.282564
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.853744
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.616236
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.487615

### kopo_customerdata 데이터를 불러온 후 STATENAME컬럼만 STNAME으로 변경하세요

In [25]:
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 

engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
kopocustomerData = pd.read_sql_query('SELECT * FROM KOPO_CUSTOMERDATA', engine) 

kopocustomerData.columns = [x.upper() for x in kopocustomerData.columns]

print(kopocustomerData.head(2))

  CUSTOMERCODE STATENAME  ST GENDER  DOB  GENDER1  EMAIL  FEST_CNT  \
0      1503989    State2   2   Male    0        1      1         0
1      1190338    State2   2   Male    0        1      0         1

   TOTAL_AMOUNT  AC_AMOUNT  AV_AMOUNT  HA_AMOUNT  EMI_CE_AMOUNT  IS_HIGHEND  \
0         30300          0      30300          0              0           0
1         46500          0      46500          0              0           0

   CNT_VIST  GAP_VISIT
0         1          0
1         1          0

In [26]:
test = kopocustomerData.rename(columns={"STATENAME": "STNAME"})
test.head()
# 쉬프트 + 탭 누른후 (+) 버튼을 눌러주면 명령어의 설명과 예제가 나온다.

,CUSTOMERCODE,STNAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0

### 7.2 데이터 컬럼 명/값 변경하기

In [27]:
# 컬럼 값 바꾸기 #1 → 데이터프레임명[‘컬럼명‘].iloc[index]=2
# 컬럼 값 바꾸기 #2 → 데이터프레임명[‘컬럼명’].iloc[index] = 데이터프레임명[‘컬럼명’].iloc[0:5].mean()

In [28]:
# 컬럼 값 바꾸기#1
customerData['CUSTID'].loc[0:]=1
customerData.head(10)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,TEST
0,1,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.429505
1,1,3418.048887,2,4.2,2.771469,Sleeping-dog,2.282564
2,1,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.853744
3,1,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.616236
4,1,3764.940414,2,6.5,0.900000,Early-bird,1.487615
5,1,3191.065822,2,6.5,0.900000,Early-bird,1.435057
6,1,4165.700000,2,6.1,2.128362,Big-Screen-lover,1.350851
7,1,3137.800000,2,5.1,1.725892,Big-Screen-lover,1.825490
8,1,3179.708359,3,6.5,1.100000,Early-bird,2.047751
9,1,3334.244233,2,4.5,3.273196,Sleeping-dog,1.802078

In [29]:
# 컬럼 값 바꾸기#2
customerData['EMI'].loc[0:]=customerData['EMI'].loc[0:5].mean()
customerData.head(10)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,TEST
0,1,3516.500000,2.0,5.5,2.087540,Big-Screen-lover,2.429505
1,1,3418.048887,2.0,4.2,2.771469,Sleeping-dog,2.282564
2,1,3408.300000,2.0,5.0,1.988682,Big-Screen-lover,1.853744
3,1,3408.300000,2.0,4.9,1.521029,Big-Screen-lover,1.616236
4,1,3764.940414,2.0,6.5,0.900000,Early-bird,1.487615
5,1,3191.065822,2.0,6.5,0.900000,Early-bird,1.435057
6,1,4165.700000,2.0,6.1,2.128362,Big-Screen-lover,1.350851
7,1,3137.800000,2.0,5.1,1.725892,Big-Screen-lover,1.825490
8,1,3179.708359,2.0,6.5,1.100000,Early-bird,2.047751
9,1,3334.244233,2.0,4.5,3.273196,Sleeping-dog,1.802078