In [44]:
import pandas as pd
from sqlalchemy import create_engine 
import math
import numpy as np

# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

kopo = pd.read_sql_query("select * from kopo_channel_seasonality_new", engine) 

kopo = kopo.sort_values(["regionid","product","yearweek"])

# 컬럼 재정의
kopo.columns = [x.upper()for x in kopo.columns]

# 음수값(반품값)제거
kopo['QTY'] = np.where(kopo['QTY']<0,0,kopo['QTY'])

# 데이터 VIEW
print(kopo.head())

     REGIONID    PRODUCT YEARWEEK    QTY
298       A00  PRODUCT34   201401  661.0
1757      A00  PRODUCT34   201402  679.0
3125      A00  PRODUCT34   201403  578.0
205       A00  PRODUCT34   201404  532.0
4369      A00  PRODUCT34   201405  516.0

In [51]:
# yearweek = 나눌주차  apyearweek = 들어갈 주차 컬럼명 column = QTY 컬럼명 index = column1 인덱스
# 추후 나눌주차만 입력하면 전 후 자동으로 계산하여 넣는 로직 설계 예정
def  division53(df,yearweek,apyearweek,column,index):
    
    Qty53 = df[df.YEARWEEK==yearweek].iloc[:,index].reset_index(drop=True) #53주차 QTY 뽑아내기
    inputQty = df[df.YEARWEEK==apyearweek].reset_index(drop=True).iloc[:,index].reset_index(drop=True) # 들어갈 주차 QTY 
    inputDf = df[df.YEARWEEK==apyearweek].reset_index(drop=True) # 들어갈 주차만 뽑아낸 DF
    halfQty = Qty53 / 2 #53주차 qty 반값
    sumQty = inputQty + halfQty # 들어갈주차 qty + 53주차 qty 반값 
    inputDf[column] = np.floor(sumQty) # sumQty 반내림 후 들어갈 주차 데이터 프레임 QTY에 넣기
    emptyDf = df[df.YEARWEEK!=apyearweek] # 전체 DF중 들어갈 주차만 뺀 DF
    data = pd.concat ([emptyDf,inputDf]).reset_index(drop=True) # 들어갈 주차만 뺀 DF에 정제된 DF 합치기
    return data

In [52]:
#53주차를 52주차에 넣기
Data52 = division53(kopo,'201553','201552','QTY',3)

#들어간 데이터 정렬
sortData = Data52.sort_values(["REGIONID","PRODUCT","YEARWEEK"]) 

#53주차를 01주차에 넣기
realData = division53(sortData,'201553','201601','QTY',3)

#53주차 데이터 빼기
realData = realData[realData.YEARWEEK!="201553"]

# 201601이 201652 뒤에 붙어서 재정렬
realData = realData.sort_values(["REGIONID","PRODUCT","YEARWEEK"]) 

# 201553이 있던자리에 찌꺼기 남아서 오류남 inpalce=True로 해결됨
realData.reset_index(drop=True,inplace=True)

In [53]:
realData[realData.YEARWEEK.str[0:4]=="2016"]

       REGIONID    PRODUCT YEARWEEK      QTY
104         A00  PRODUCT34   201601     39.0
105         A00  PRODUCT34   201602     22.0
106         A00  PRODUCT34   201603     23.0
107         A00  PRODUCT34   201604     28.0
108         A00  PRODUCT34   201605     19.0
109         A00  PRODUCT34   201606     25.0
110         A00  PRODUCT34   201607     24.0
111         A00  PRODUCT34   201608     14.0
112         A00  PRODUCT34   201609      9.0
113         A00  PRODUCT34   201610     31.0
114         A00  PRODUCT34   201611     22.0
115         A00  PRODUCT34   201612      8.0
116         A00  PRODUCT34   201613     12.0
117         A00  PRODUCT34   201614     13.0
118         A00  PRODUCT34   201615      5.0
119         A00  PRODUCT34   201616      8.0
120         A00  PRODUCT34   201617      4.0
121         A00  PRODUCT34   201618     10.0
122         A00  PRODUCT34   201619      6.0
123         A00  PRODUCT34   201620      8.0
124         A00  PRODUCT34   201621      6.0
125         A00  PRODUCT34   201622      4.0
126         A00  PRODUCT34   201623      7.0
127         A00  PRODUCT34   201624      7.0
128         A00  PRODUCT34   201625      5.0
129         A00  PRODUCT34   201626      7.0
130         A00  PRODUCT34   201627      3.0
131         A00  PRODUCT34   201628     19.0
132         A00  PRODUCT34   201629    419.0
133         A00  PRODUCT34   201630      6.0
...         ...        ...      ...      ...
123834      A77  PRODUCT12   201623   5348.0
123835      A77  PRODUCT12   201624   3275.0
123836      A77  PRODUCT12   201625   4158.0
123837      A77  PRODUCT12   201626   4815.0
123838      A77  PRODUCT12   201627   3002.0
123839      A77  PRODUCT12   201628   3319.0
123840      A77  PRODUCT12   201629   4200.0
123841      A77  PRODUCT12   201630   7120.0
123842      A77  PRODUCT12   201631   6345.0
123843      A77  PRODUCT12   201632   5863.0
123844      A77  PRODUCT12   201633   4211.0
123845      A77  PRODUCT12   201634   4019.0
123846      A77  PRODUCT12   201635   3624.0
123847      A77  PRODUCT12   201636   3742.0
123848      A77  PRODUCT12   201637   3002.0
123849      A77  PRODUCT12   201638   5583.0
123850      A77  PRODUCT12   201639  14734.0
123851      A77  PRODUCT12   201640   3603.0
123852      A77  PRODUCT12   201641   4010.0
123853      A77  PRODUCT12   201642   4292.0
123854      A77  PRODUCT12   201643   5760.0
123855      A77  PRODUCT12   201644   4109.0
123856      A77  PRODUCT12   201645   4506.0
123857      A77  PRODUCT12   201646   4255.0
123858      A77  PRODUCT12   201647   3574.0
123859      A77  PRODUCT12   201648   4152.0
123860      A77  PRODUCT12   201649   5086.0
123861      A77  PRODUCT12   201650   5846.0
123862      A77  PRODUCT12   201651   4933.0
123863      A77  PRODUCT12   201652   7551.0

[41288 rows x 4 columns]

In [24]:
#이동평균선 날개
suborder = math.floor(13/2) 

#표준편차,스무딩 날개
suborder1 = math.floor(5/2)

In [25]:
def sub_function(data):    

    data["MA"] = data["QTY"].rolling(window = 13, center = True).mean()
    
    postList = []
    preList = []
    
    data.reset_index(drop=True,inplace=True) # 이거 안쓰면 날개 생성시 NaN값이 엄청 붙음 이유 확인 요망
    
    #이동평균
    for i in range(0,suborder):
        preList.append(data["QTY"][0:i+suborder+1].mean())
        data.loc[i,"MA"]=preList[i]
    
    maxLength = len(data)
    for i in range(0,suborder):
        postList.append(data["QTY"][(maxLength-1)-(suborder+i):maxLength].mean()) # maxLength-1(마지막 행 index)
        data.loc[maxLength-i-1,"MA"] = postList[i] # postList "MA"에 집어넣기    
    
    #표준편차
    data["STD"] = data["MA"].rolling(window = 5, center = True).std()
    
    postList = []
    preList = []
        
    for i in range(0,suborder1):
        preList.append(data["MA"][0:i+suborder1+1].std())
        data.loc[i,"STD"]=preList[i]
    
    for i in range(0,suborder1):
        postList.append(data["MA"][(maxLength-1)-(suborder1+i):maxLength].std()) # maxLength-1(마지막 행 index)
        data.loc[maxLength-i-1,"STD"] = postList[i] # postList "STD"에 집어넣기          
        
    return data

In [26]:
# 지역별 상품별 함수적용 groupby 
groupData = realData.groupby(["REGIONID","PRODUCT"]).apply(sub_function)

In [27]:
# 상한선 하한선
groupData["UPPER_BOUND"] = groupData["MA"] + groupData["STD"]
groupData["LOWER_BOUND"] = groupData["MA"] - groupData["STD"]

In [28]:
# 이상치 정제 함수
def refining(data):
    if data["QTY"] > data["UPPER_BOUND"]:
        return data["UPPER_BOUND"]
    elif data["QTY"] < data["LOWER_BOUND"]:
        return data["LOWER_BOUND"]
    else:
        return data["QTY"]

groupData["REFIND_QTY"] =groupData.apply(refining, axis=1)

In [29]:
# 정제된 데이터 스무딩
def sub_function2(data):
    data["SMOOTHING"] = data["REFIND_QTY"].rolling(window = 5, center = True,min_periods=1).mean()   
    return data

In [30]:
groupData.reset_index(drop=True,inplace=True) #groupby에러

In [31]:
groupData = groupData.groupby(["REGIONID","PRODUCT"]).apply(sub_function2)

In [32]:
# qty, 정제된 qty 0값 제거
groupData["QTY"] = np.where(groupData["QTY"] == 0,1,groupData["QTY"])
groupData["REFIND_QTY"] = np.where(groupData["REFIND_QTY"] == 0,1,groupData["REFIND_QTY"])

# 안정지수, 불안정지수
groupData["RATIO_FIRM"] = groupData["QTY"] / groupData["SMOOTHING"]
groupData["RATIO_UNFIRM"] = groupData["REFIND_QTY"] / groupData["SMOOTHING"]

#각 주차만 뽑은 컬럼 생성 (주차별로 gorupby 준비)
groupData["WEEK"] = groupData.YEARWEEK.str[4:6]

In [33]:
# 필요 컬럼 정리
finalData = groupData.filter(items=['REGIONID','PRODUCT','WEEK','QTY','MA','STD','REFIND_QTY','SMOOTHING','RATIO_FIRM','RATIO_UNFIRM'])

In [34]:
#finalData.to_csv("../py_middleData.csv", index=False)

In [35]:
#3년치 지역별 상품별 주차별 평균 
finalData = finalData.groupby(["REGIONID","PRODUCT","WEEK"]).mean()

finalData.reset_index(drop=False,inplace=True)

#컬럼 재정의
finalData.columns = ['REGIONID','PRODUCT','WEEK','AVG_QTY','AVG_MA','AVG_STD','AVG_REFIND_QTY','AVG_SMOOTHING','AVG_RATIO_FIRM','AVG_RATIO_UNFIRM']

finalData.head()

,REGIONID,PRODUCT,WEEK,AVG_QTY,AVG_MA,AVG_STD,AVG_REFIND_QTY,AVG_SMOOTHING,AVG_RATIO_FIRM,AVG_RATIO_UNFIRM
0,A00,PRODUCT34,01,283.666667,249.941392,12.807660,257.286954,247.478061,0.972616,1.030115
1,A00,PRODUCT34,02,297.333333,236.410256,11.155231,244.925731,244.232752,1.022650,1.005945
2,A00,PRODUCT34,03,236.000000,230.686610,10.814188,232.306350,237.257091,0.788440,0.976253
3,A00,PRODUCT34,04,238.000000,229.574359,8.949194,236.402744,224.763378,1.001462,1.098000
4,A00,PRODUCT34,05,201.333333,220.993007,15.038500,215.363673,212.170570,0.731555,0.973962

In [38]:
# finalData.to_csv("../py_finalData.csv", index=False)