## 2번

In [15]:
import pandas as pd
from sqlalchemy import create_engine

In [16]:
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

In [17]:
customerData = pd.read_sql_query('SELECT * FROM kopo_product_volume WHERE SUBSTR(TO_CHAR(YEARWEEK), 0,4) = 2016 ', engine)

In [18]:
print(customerData.head())

  regionid productgroup yearweek    volume
0      A01       ST0001   201605  661049.0
1      A01       ST0002   201605  231214.0
2      A01       ST0001   201603  531372.0
3      A01       ST0002   201603  152763.0
4      A01       ST0001   201601  651243.0

### 3번

In [2]:
import pandas as pd
from sqlalchemy import create_engine 
import requests, bs4, pandas as pd, numpy as np
resp = requests.get('https://www.timeanddate.com/holidays/south-korea/')
resp.encoding='utf-8'
html=resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

In [3]:
lists=[]
alldfcontents=[]

In [4]:
columns=bs.select(' tr.head > th.sep' )
contents=bs.select(' tbody > tr ')

In [5]:
columnlist=[]
for column in columns:
    columnlist.append(column.text)
columnlist

['Weekday', 'Holiday Name', 'Holiday Type']

In [6]:
for content in contents:
    tds=content.findAll("td")
    for num in tds:
        if(num.text=="None"):
            continue;
        lists.append(num.text)
    alldfcontents.append(lists)
    lists=[]
alldfcontents

[['Monday', "New Year's Day", 'National holiday'],
 ['Friday', '2018 Winter Olympics start', 'Observance'],
 ['Wednesday', "Valentine's Day", 'Observance'],
 ['Thursday', 'Seollal Holiday', 'National holiday'],
 ['Friday', 'Seollal', 'National holiday'],
 ['Saturday', 'Seollal Holiday', 'National holiday'],
 ['Sunday', '2018 Winter Olympics end', 'Observance'],
 ['Thursday', 'Independence Movement Day', 'National holiday'],
 ['Friday', '2018 Winter Paralympics start', 'Observance'],
 ['Sunday', '2018 Winter Paralympics end', 'Observance'],
 ['Tuesday', 'March equinox', 'Season'],
 ['Thursday', 'Arbor Day', 'Observance'],
 ['Tuesday', 'Labor Day', 'Bank Holiday'],
 ['Saturday', "Children's Day", 'National holiday'],
 ['Monday', "Children's Day observed", 'National holiday'],
 ['Tuesday', "Parents' Day", 'Observance'],
 ['Tuesday', "Teacher's Day", 'Observance'],
 ['Tuesday', "Buddha's Birthday", 'National holiday'],
 ['Wednesday', 'Memorial Day', 'National holiday'],
 ['Wednesday', 'Local Election Day', 'National holiday'],
 ['Thursday', 'June Solstice', 'Season'],
 ['Tuesday', 'Constitution Day', 'Observance'],
 ['Wednesday', 'Liberation Day', 'National holiday'],
 ['Sunday', 'September equinox', 'Season'],
 ['Sunday', 'Chuseok Holiday', 'National holiday'],
 ['Monday', 'Chuseok', 'National holiday'],
 ['Tuesday', 'Chuseok Holiday', 'National holiday'],
 ['Wednesday', 'Chuseok Holiday', 'National holiday'],
 ['Monday', 'Armed Forces Day', 'Observance'],
 ['Wednesday', 'National Foundation Day', 'National holiday'],
 ['Tuesday', 'Hangeul Proclamation Day', 'National holiday'],
 ['Wednesday', 'Halloween', 'Observance'],
 ['Friday', 'December Solstice', 'Season'],
 ['Monday', 'Christmas Eve', 'Observance'],
 ['Tuesday', 'Christmas Day', 'National holiday'],
 ['Monday', "New Year's Eve", 'Observance']]

In [7]:
columnslist1=["DATE"]
columnslist1

['DATE']

In [20]:
contents1=bs.select(' tbody > tr > th.nw')
contents1

[<th class="nw">Jan 1</th>,
 <th class="nw">Feb 9</th>,
 <th class="nw">Feb 14</th>,
 <th class="nw">Feb 15</th>,
 <th class="nw">Feb 16</th>,
 <th class="nw">Feb 17</th>,
 <th class="nw">Feb 25</th>,
 <th class="nw">Mar 1</th>,
 <th class="nw">Mar 9</th>,
 <th class="nw">Mar 18</th>,
 <th class="nw">Mar 20</th>,
 <th class="nw">Apr 5</th>,
 <th class="nw">May 1</th>,
 <th class="nw">May 5</th>,
 <th class="nw">May 7</th>,
 <th class="nw">May 8</th>,
 <th class="nw">May 15</th>,
 <th class="nw">May 22</th>,
 <th class="nw">Jun 6</th>,
 <th class="nw">Jun 13</th>,
 <th class="nw">Jun 21</th>,
 <th class="nw">Jul 17</th>,
 <th class="nw">Aug 15</th>,
 <th class="nw">Sep 23</th>,
 <th class="nw">Sep 23</th>,
 <th class="nw">Sep 24</th>,
 <th class="nw">Sep 25</th>,
 <th class="nw">Sep 26</th>,
 <th class="nw">Oct 1</th>,
 <th class="nw">Oct 3</th>,
 <th class="nw">Oct 9</th>,
 <th class="nw">Oct 31</th>,
 <th class="nw">Dec 21</th>,
 <th class="nw">Dec 24</th>,
 <th class="nw">Dec 25</th>,
 <th class="nw">Dec 31</th>]

In [21]:
lists1=[]
datelists=[]

In [22]:
for content in contents1:
    if(content.text=="None"):
         continue;
    lists1.append(content.text)
    datelists.append(lists1)
    lists1=[]
    
datelists

[['Jan 1'],
 ['Feb 9'],
 ['Feb 14'],
 ['Feb 15'],
 ['Feb 16'],
 ['Feb 17'],
 ['Feb 25'],
 ['Mar 1'],
 ['Mar 9'],
 ['Mar 18'],
 ['Mar 20'],
 ['Apr 5'],
 ['May 1'],
 ['May 5'],
 ['May 7'],
 ['May 8'],
 ['May 15'],
 ['May 22'],
 ['Jun 6'],
 ['Jun 13'],
 ['Jun 21'],
 ['Jul 17'],
 ['Aug 15'],
 ['Sep 23'],
 ['Sep 23'],
 ['Sep 24'],
 ['Sep 25'],
 ['Sep 26'],
 ['Oct 1'],
 ['Oct 3'],
 ['Oct 9'],
 ['Oct 31'],
 ['Dec 21'],
 ['Dec 24'],
 ['Dec 25'],
 ['Dec 31']]

In [23]:
result1=pd.DataFrame(columns=columnslist1, data=datelists )
result2=pd.DataFrame(columns=columnlist, data=alldfcontents )
result2.columns = ["WEEK","HOLIDAY_NAME","HOLIDAY_TYPE"]

In [24]:
finalresult = pd.concat([result1,result2], axis=1)
finalresult.head()

     DATE       WEEK                HOLIDAY_NAME      HOLIDAY_TYPE
0   Jan 1     Monday              New Year's Day  National holiday
1   Feb 9     Friday  2018 Winter Olympics start        Observance
2  Feb 14  Wednesday             Valentine's Day        Observance
3  Feb 15   Thursday             Seollal Holiday  National holiday
4  Feb 16     Friday                     Seollal  National holiday

In [25]:
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

resultname='KOPO_PY_김지성_FINAL4'
finalresult.to_sql(resultname, engine, if_exists='replace', index=False)

### 3번

In [19]:
import requests, bs4, pandas as pd, numpy as np
from sqlalchemy import create_engine 
 
#웹페이지 html 소스 가져오기
resp = requests.get('https://www.timeanddate.com/holidays/south-korea/')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

body = bs.select("table.zebra > tbody > tr > td")
body

[<td class="nw">Monday</td>,
 <td><a href="/holidays/southkorea/new-year-day">New Year's Day</a></td>,
 <td>National holiday</td>,
 <td class="nw">Friday</td>,
 <td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics start</a></td>,
 <td>Observance</td>,
 <td class="nw">Wednesday</td>,
 <td><a href="/holidays/southkorea/valentines-day">Valentine's Day</a></td>,
 <td>Observance</td>,
 <td class="nw">Thursday</td>,
 <td><a href="/holidays/southkorea/seollal-holiday-1">Seollal Holiday</a></td>,
 <td>National holiday</td>,
 <td class="nw">Friday</td>,
 <td><a href="/holidays/southkorea/seollal-holiday-2">Seollal</a></td>,
 <td>National holiday</td>,
 <td class="nw">Saturday</td>,
 <td><a href="/holidays/southkorea/seollal-holiday-3">Seollal Holiday</a></td>,
 <td>National holiday</td>,
 <td class="nw">Sunday</td>,
 <td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics end</a></td>,
 <td>Observance</td>,
 <td class="nw">Thursday</td>,
 <td><a href="/holidays/southkorea/independence-movement-day">Independence Movement Day</a></td>,
 <td>National holiday</td>,
 <td class="nw">Friday</td>,
 <td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics start</a></td>,
 <td>Observance</td>,
 <td class="nw">Sunday</td>,
 <td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics end</a></td>,
 <td>Observance</td>,
 <td class="nw">Tuesday</td>,
 <td><a href="/calendar/march-equinox.html">March equinox</a></td>,
 <td>Season</td>,
 <td class="nw">Thursday</td>,
 <td><a href="/holidays/southkorea/arbor-day">Arbor Day</a></td>,
 <td>Observance</td>,
 <td class="nw">Tuesday</td>,
 <td><a href="/holidays/southkorea/labor-day">Labor Day</a></td>,
 <td>Bank Holiday</td>,
 <td class="nw">Saturday</td>,
 <td><a href="/holidays/southkorea/childrens-day">Children's Day</a></td>,
 <td>National holiday</td>,
 <td class="nw">Monday</td>,
 <td><a href="/holidays/southkorea/childrens-day">Children's Day observed</a></td>,
 <td>National holiday</td>,
 <td class="nw">Tuesday</td>,
 <td><a href="/holidays/southkorea/parents-day">Parents' Day</a></td>,
 <td>Observance</td>,
 <td class="nw">Tuesday</td>,
 <td><a href="/holidays/southkorea/teachers-day">Teacher's Day</a></td>,
 <td>Observance</td>,
 <td class="nw">Tuesday</td>,
 <td><a href="/holidays/southkorea/buddha-birthday">Buddha's Birthday</a></td>,
 <td>National holiday</td>,
 <td class="nw">Wednesday</td>,
 <td><a href="/holidays/southkorea/memorial-day">Memorial Day</a></td>,
 <td>National holiday</td>,
 <td class="nw">Wednesday</td>,
 <td><a href="/holidays/southkorea/local-election-day">Local Election Day</a></td>,
 <td>National holiday</td>,
 <td class="nw">Thursday</td>,
 <td><a href="/calendar/june-solstice.html">June Solstice</a></td>,
 <td>Season</td>,
 <td class="nw">Tuesday</td>,
 <td><a href="/holidays/southkorea/constitution-day">Constitution Day</a></td>,
 <td>Observance</td>,
 <td class="nw">Wednesday</td>,
 <td><a href="/holidays/southkorea/liberation-day">Liberation Day</a></td>,
 <td>National holiday</td>,
 <td class="nw">Sunday</td>,
 <td><a href="/calendar/september-equinox.html">September equinox</a></td>,
 <td>Season</td>,
 <td class="nw">Sunday</td>,
 <td><a href="/holidays/southkorea/mid-autumn-festival-day-1">Chuseok Holiday</a></td>,
 <td>National holiday</td>,
 <td class="nw">Monday</td>,
 <td><a href="/holidays/southkorea/mid-autumn-festival-day-2">Chuseok</a></td>,
 <td>National holiday</td>,
 <td class="nw">Tuesday</td>,
 <td><a href="/holidays/southkorea/mid-autumn-festival-day-3">Chuseok Holiday</a></td>,
 <td>National holiday</td>,
 <td class="nw">Wednesday</td>,
 <td><a href="/holidays/southkorea/mid-autumn-festival-day-4">Chuseok Holiday</a></td>,
 <td>National holiday</td>,
 <td class="nw">Monday</td>,
 <td><a href="/holidays/southkorea/armed-forces-day">Armed Forces Day</a></td>,
 <td>Observance</td>,
 <td class="nw">Wednesday</td>,
 <td><a href="/holidays/southkorea/national-foundation-day">National Foundation Day</a></td>,
 <td>National holiday</td>,
 <td class="nw">Tuesday</td>,
 <td><a href="/holidays/southkorea/hangeul-day">Hangeul Proclamation Day</a></td>,
 <td>National holiday</td>,
 <td class="nw">Wednesday</td>,
 <td><a href="/holidays/southkorea/halloween">Halloween</a></td>,
 <td>Observance</td>,
 <td class="nw">Friday</td>,
 <td><a href="/calendar/december-solstice.html">December Solstice</a></td>,
 <td>Season</td>,
 <td class="nw">Monday</td>,
 <td><a href="/holidays/southkorea/christmas-eve">Christmas Eve</a></td>,
 <td>Observance</td>,
 <td class="nw">Tuesday</td>,
 <td><a href="/holidays/southkorea/christmas-day">Christmas Day</a></td>,
 <td>National holiday</td>,
 <td class="nw">Monday</td>,
 <td><a href="/holidays/southkorea/new-year-eve">New Year's Eve</a></td>,
 <td>Observance</td>]

In [ ]:
holiday = []
allholidays = []

for line in body:
    for td