### 1. hadoop

In [3]:
# 헬프
# Hadoop fs -help
 
# 폴더구조 확인하기
# hadoop fs –ls /

# 파일 확인하기
# hadoop fs –cat /파일명

# 하둡파일시스템 → 로컬로 변경 
# hadoop fs –copyToLocal /… /..
 
# 로컬 → 하둡파일시스템
# hadoop fs –copyFromLocal
 
# 하둡 저장공간
# hadoop fs –df –h
 
# 폴더 만들기
# hadoop fs –mkdir /mydata
 
# 삭제하기
# hadoop fs –rm –R /디렉토리명
# Hadoop fs –rm –f /파일명

SyntaxError: invalid character in identifier (<ipython-input-3-b3b0a8b483a4>, line 3)

In [1]:
# Pandas and hdfs 패키지
import pandas as pd
from hdfs import InsecureClient
import os
# hdfs 설정
client_hdfs = InsecureClient('http://192.168.110.114:50070')

# Test PandasDataFrame 생성 및 넣기
liste_hello = ['hello1','hello2']
liste_world = ['world1','world2']
df = pd.DataFrame(data = {'hello' : liste_hello, 'world': liste_world})

# 데이터프레임 hdfs에 저장
with client_hdfs.write('/mydata/helloworld_kjs.csv', encoding = 'utf-8') as writer:
    df.to_csv(writer)
    
# 데이터 읽기
# ====== Reading files ======
with client_hdfs.read('/mydata/helloworld_kjs.csv', encoding = 'utf-8') as reader:
    readdf=pd.read_csv(reader,index_col=0)

In [2]:
readdf

    hello   world
0  hello1  world1
1  hello2  world2

In [4]:
pd.DataFrame(columns = ['STOCK_PRICE'], dtype=float)

Empty DataFrame
Columns: [STOCK_PRICE]
Index: []

In [4]:
# Pandas and hdfs 패키지
import pandas as pd
from hdfs import InsecureClient
import os
# hdfs 설정
client_hdfs = InsecureClient('http://192.168.110.114:50070')

In [10]:
# Test PandasDataFrame 생성 및 넣기
liste_hello = ['A01','A02','A03','A04','A05']
liste_world = ['201501','201501','201501','201501','201501']
liste_qty = ['100','120','140','160','180']
df = pd.DataFrame(data = {'col1' : liste_hello, 'col2': liste_world, 'col3': liste_qty})

print(df)

  col1    col2 col3
0  A01  201501  100
1  A02  201501  120
2  A03  201501  140
3  A04  201501  160
4  A05  201501  180

In [9]:
df

  col1    col2 col3
0  A01  201501  100
1  A02  201501  120
2  A03  201501  140
3  A04  201501  160
4  A05  201501  180