In [3]:
# PANDAS 패키지 불러오기
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
# CSV 파일을 읽어 Data Frame 변수에 저장하기
elecData = pd.read_excel("d:/elec_data.xlsx")

# NAME 컬럼만 선택
names = elecData['name']

# 이름값만 추출하여 리스트에 저장
emptyList = []
for name in names:
    rows = name.strip().replace("'","").replace("님","").split(",")
    #emptyList.append()
    for row in rows:
        # 만약 NULL 이면 APPEND 하지 않는다면 NULL 값 자동 제거됨
        emptyList.append(row.strip())

## 리스트 -> 데이터프레임 변환
refinedData = pd.DataFrame(emptyList, columns=["NAME"])

## NULL 처리
finalResult = refinedData[refinedData['NAME'] != ""]

finalResult.head()

  NAME
0  김의진
1  박승진
2  김의진
3  정경화
4  김의진